<div id="aboutme" class="aboutmepls">
  <div class="container">
    <!-- title -->
    <div class="text-center text-light text-bold pt-5">
      <h1 class="display-4 pt-4">
        About Me
      </h1>
      <hr class="my-4">
    </div>
    <!-- details -->
    <div class="row">
      <div class="col-xs-5 pr-4 pb-5 pt-5">
          <div class="card-img-wrap rounded-circle">
              <img src="/assets/img/dp.jpg" >
          </div>
      </div>
      <div class="col-md-7  pt-4 pb-4">
        <h3 class = "display-5">What I do</h3>
        <p>Cyka Blyat idi nahui
            Cyka Blyat idi nahui
            Cyka Blyat idi nahui
            Cyka Blyat idi nahui
        </p>
        
        <h3 class = "display-5">What I done</h3>
        <p>kurwa svlan</p>
      </div>
    </div>
  </div>
</div>